{% extends "layout.html" %}
{% block content %}
<h1>About This Projects...</h1>
<div id="about_container">
	<p> We are 4 buddies who are commited to giving people a safe way to track their own devices or any device they need tracked. All you need is an IP!
	<p>
	<p> Our original Goal was to create a net within the U of I network to help track people on campus for safety reasons as almost all students phones are connected to the IllinoisNet. After a solid month or so of trial and error we failed to get something to work within IllinoisNet as we dont have access to the routers. Instead we formed it to work on a smaller network; and from there we can build up to different smaller ones as well.<p>

</div>
{% endblock %}