{% extends "layout.html" %}
{% block content %}
<h1>About This Project</h1>
<div id="about_container">
	<p>
		Device Tracker is a locally run server that can manage multiple clients (set up and run on machines such as Raspberry Pi's) that track a device's location through a secure and intuitive front-end. When a tracked device connects to a network that a client is monitoring, the client reports this information to the web server which is updated in real time.
	</p>

	<h1>Credits</h1>
	<p>This project has been developed for CS460 taught by Professor Bambenek at the University of Illinois Urbana-Champaign.</p>
 	<h1>Developers:<h1>
	<p> Ryan Kastl </p>
	<p> Sameer Jain </p>
	<p> Nick Tuczak </p>
	<p> Liam Griffin </p>
</div>
{% endblock %}