<!DOCTYPE html>
<html ng-app="DeviceTracker">

	<head>
	  <script data-require="angular.js@1.3.0" data-semver="1.3.0" src="https://code.angularjs.org/1.3.0/angular.js"></script>
	  <script data-require="angular-route@1.2.14" data-semver="1.2.14" src="https://code.angularjs.org/1.2.14/angular-route.js"></script>
	  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	  <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
	  <script type="text/javascript" src="{{ url_for('static', filename='MainController.js') }}"></script>
	</head>

	<body ng-controller="MainController">
	    <div ng-repeat="device in devices">
	    	[[device]]
	    </div>
	</body>
</html>
